Doc cross ref documentaire menu/WORKFLOW_N8N_XREF.json
{
  "name": "Cross References - Import Documents CAC",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload Documents pour Cross-Références CAC",
        "formDescription": "Importer des documents de test d'audit dans Google Drive avec indexation structurée",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Client",
              "fieldType": "text",
              "requiredField": true,
              "fieldPlaceholder": "Nom du client (ex: Orange, Filtectci)"
            },
            {
              "fieldLabel": "Exercice",
              "fieldType": "text",
              "requiredField": true,
              "fieldPlaceholder": "Année de l'exercice (ex: 2025)"
            },
            {
              "fieldLabel": "Cycle comptable",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Capitaux propres" },
                  { "option": "Charge d'exploitation" },
                  { "option": "Client" },
                  { "option": "Fournisseur" },
                  { "option": "Immobilisations" },
                  { "option": "Impôt et taxes" },
                  { "option": "Personnel" },
                  { "option": "Stock" },
                  { "option": "Trésorerie" },
                  { "option": "Ventes" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Cross référence",
              "fieldType": "text",
              "requiredField": true,
              "fieldPlaceholder": "Index du document (ex: I1, I20, I150)"
            },
            {
              "fieldLabel": "Document",
              "fieldType": "text",
              "requiredField": true,
              "fieldPlaceholder": "Nom du document (ex: Lead sheet trésorerie)"
            },
            {
              "fieldLabel": "Files",
              "fieldType": "file",
              "acceptFileTypes": ".xlsx,.xls,.pdf,.doc,.docx",
              "requiredField": true,
              "multipleFiles": false
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "respondWith": "text",
            "formSubmittedText": "✅ Document uploadé avec succès!\n\nVotre document a été enregistré dans Google Drive:\n📁 Dossier CAC/{{$json.Client}}-{{$json.Exercice}}/{{$json[\"Cycle comptable\"]}}/\n📄 [{{$json[\"Cross référence\"]}}]-{{$json.Document}}"
          }
        }
      },
      "id": "form-trigger-xref",
      "name": "Cross References Form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [250, 300],
      "webhookId": "20bcf9fd-b7bb-49de-9707-590a794c4763",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "search",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "query": "name='Dossier CAC' and mimeType='application/vnd.google-apps.folder' and trashed=false"
      },
      "id": "google-drive-search-dossier-cac",
      "name": "Rechercher Dossier CAC",
      "type": "n8n-nodes-base.googleDrive",
      "position": [450, 300],
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-dossier-cac-exists",
              "leftValue": "={{ $json.files.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-dossier-cac-exists",
      "name": "Dossier CAC existe?",
      "type": "n8n-nodes-base.if",
      "position": [650, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "create",
        "name": "Dossier CAC",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        }
      },
      "id": "google-drive-create-dossier-cac",
      "name": "Créer Dossier CAC",
      "type": "n8n-nodes-base.googleDrive",
      "position": [850, 450],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "search",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "query": "name='{{ $('Cross References Form').item.json.Client }}-{{ $('Cross References Form').item.json.Exercice }}' and mimeType='application/vnd.google-apps.folder' and trashed=false and '{{ $('Dossier CAC existe?').item.json.files[0].id }}' in parents"
      },
      "id": "google-drive-search-dossier-client",
      "name": "Rechercher Dossier Client",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1050, 300],
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-dossier-client-exists",
              "leftValue": "={{ $json.files.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-dossier-client-exists",
      "name": "Dossier Client existe?",
      "type": "n8n-nodes-base.if",
      "position": [1250, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "create",
        "name": "={{ $('Cross References Form').item.json.Client }}-{{ $('Cross References Form').item.json.Exercice }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Dossier CAC existe?').item.json.files[0].id }}"
        }
      },
      "id": "google-drive-create-dossier-client",
      "name": "Créer Dossier Client",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1450, 450],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "create",
        "name": "Capitaux propres",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        }
      },
      "id": "google-drive-create-cycle-1",
      "name": "Créer Cycle 1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1650, 450],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "create",
        "name": "Charge d'exploitation",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Créer Dossier Client').item.json.id }}"
        }
      },
      "id": "google-drive-create-cycle-2",
      "name": "Créer Cycle 2",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1650, 550],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "create",
        "name": "Client",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Créer Dossier Client').item.json.id }}"
        }
      },
      "id": "google-drive-create-cycle-3",
      "name": "Créer Cycle 3",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1650, 650],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "create",
        "name": "Fournisseur",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Créer Dossier Client').item.json.id }}"
        }
      },
      "id": "google-drive-create-cycle-4",
      "name": "Créer Cycle 4",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1650, 750],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "create",
        "name": "Immobilisations",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Créer Dossier Client').item.json.id }}"
        }
      },
      "id": "google-drive-create-cycle-5",
      "name": "Créer Cycle 5",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1650, 850],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "create",
        "name": "Impôt et taxes",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Créer Dossier Client').item.json.id }}"
        }
      },
      "id": "google-drive-create-cycle-6",
      "name": "Créer Cycle 6",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1650, 950],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "create",
        "name": "Personnel",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Créer Dossier Client').item.json.id }}"
        }
      },
      "id": "google-drive-create-cycle-7",
      "name": "Créer Cycle 7",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1650, 1050],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "create",
        "name": "Stock",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Créer Dossier Client').item.json.id }}"
        }
      },
      "id": "google-drive-create-cycle-8",
      "name": "Créer Cycle 8",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1650, 1150],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "create",
        "name": "Trésorerie",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Créer Dossier Client').item.json.id }}"
        }
      },
      "id": "google-drive-create-cycle-9",
      "name": "Créer Cycle 9",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1650, 1250],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "create",
        "name": "Ventes",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Créer Dossier Client').item.json.id }}"
        }
      },
      "id": "google-drive-create-cycle-10",
      "name": "Créer Cycle 10",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1650, 1350],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "search",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "query": "name='{{ $('Cross References Form').item.json[\"Cycle comptable\"] }}' and mimeType='application/vnd.google-apps.folder' and trashed=false and '{{ $('Dossier Client existe?').item.json.files[0].id }}' in parents"
      },
      "id": "google-drive-search-cycle",
      "name": "Rechercher Cycle",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1850, 300],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "=[{{ $('Cross References Form').item.json[\"Cross référence\"] }}]-{{ $('Cross References Form').item.json.Document }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.files[0].id }}"
        },
        "binaryData": true,
        "options": {}
      },
      "id": "google-drive-upload-file",
      "name": "Upload Fichier",
      "type": "n8n-nodes-base.googleDrive",
      "position": [2050, 300],
      "typeVersion": 3
    }
  ],
  "connections": {
    "Cross References Form": {
      "main": [
        [
          {
            "node": "Rechercher Dossier CAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechercher Dossier CAC": {
      "main": [
        [
          {
            "node": "Dossier CAC existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dossier CAC existe?": {
      "main": [
        [
          {
            "node": "Rechercher Dossier Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Créer Dossier CAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer Dossier CAC": {
      "main": [
        [
          {
            "node": "Rechercher Dossier Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechercher Dossier Client": {
      "main": [
        [
          {
            "node": "Dossier Client existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dossier Client existe?": {
      "main": [
        [
          {
            "node": "Rechercher Cycle",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Créer Dossier Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer Dossier Client": {
      "main": [
        [
          {
            "node": "Créer Cycle 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Créer Cycle 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Créer Cycle 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Créer Cycle 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Créer Cycle 5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Créer Cycle 6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Créer Cycle 7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Créer Cycle 8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Créer Cycle 9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Créer Cycle 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer Cycle 1": {
      "main": [
        [
          {
            "node": "Rechercher Cycle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechercher Cycle": {
      "main": [
        [
          {
            "node": "Upload Fichier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9131465eca0291f1ecef4835bf7bafb685a9cf7920533b0125b3fa5b3b4a5df4"
  }
}
